*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #ffffff;
    /* border: 1px solid red; */
}
nav{
    max-width: 1707px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% auto;
    padding-left: 40px;
    padding-right:40px;

}
nav .menu{
    display: flex;
    list-style-type:none;
    gap: 32px; 
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 12px;
    padding-bottom: 12px;
}
nav .menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    padding-top: 22px;
    padding-bottom: 22px;
    cursor:pointer;
}
.button{
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    gap: 10px;
    margin-bottom: 16px;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(42, 223, 33);
    transform: scale(1.1);
}
.button-action{
    background-color: transparent;
    border: 1px solid #F7F6F2;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    color: #ffffff;
    transition: all 0.3s ease;
    font-weight: bold;
    cursor: pointer;
}
.Open {
  display: flex;
  padding: 8px 16px; 
  border-radius: 50px; 
  border: 1px solid #ddd; 
  background-color: #fff;
  width: fit-content;
  color: #1e8e3e; 
  font-size: 16px; 
  cursor: pointer;
  align-items: center; 
}
.dote {
  width: 6px;
  height: 6px;
  border-radius: 8px;
  margin-right: 10px;
  background-color: #30B868; 
  box-shadow: 0 0 0 4px rgba(48,184,104,0.3),
              0 0 0 8px rgba(48, 184, 104, 0.15);
}
#banner{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1707px;
    height: 600px;
    align-items: center;
    padding: 60.5px 120px 193px 120px;

}
.banner-content{
    /* border: 1px solid red; */
    height: 379px;
    width: 1360px;
    text-align: center;
    align-items: center;
}
.banner-content , .Open{
  margin: 0% auto;
}
.banner-content div h1{
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
    line-height: 84px;
}
.green-h1{
    color: #30B868;
}
.banner-content p{
    font-size: 18px;
    color: #ffffff;
    line-height: 24px;
    margin-bottom: 20px;

}
 #about{
    margin-top: 50px;
 }
 #about .about-contener {
    width: 71%;
    max-width:  1360px;
    margin: 0 auto;
    text-align: center;
 }
 .section-heading h1{
    font-size: 48px;
    font-weight:  600;
    color: #001931;
    margin-bottom: 16px;
 }
  .section-heading p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;

  }
.about-info {
    display: flex;
    gap: 24px;
}
.info-card{
    padding: 24px;
    width: 322px;
    height:300px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 8px #00000021;
}
.info-card h3{
    font-size: 22px;
    font-weight:;
    color: #001931;
    margin-bottom: 16px;
}
.info-card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;

}
.icon{ 
    width:60px;
    height:60px;
    background-color: #F95555;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#solution{
    padding-top: 120px;
    margin-bottom: 120px;

}
#solution .section-3{
    width: 71%;
    max-width: 1360px;
    height: 600px;
    display: flex;
    margin: 0 auto;
    gap: 60px;
    align-items: center;
}
.section3-heading{
    width: 71%;
    max-width: 700px;
    height: 336px;

}
.knowledge-img{
    width: 600px;
    height: 600px;
}
.section3-heading h3{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 16px;

}
.section3-heading h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
    line-height: 60px;
}
.section3-heading p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.section3-heading ul{
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.list li{
    display: flex;
    align-items: center;
    gap: 6px;
}
.list li img {
    margin-top: 2px;
}
#section-4{
    margin-top:120px;
    width: 71%;
    max-width: 1360px;
    height: 384px;
    background-color:#F7F6F2;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    justify-content: center;
    margin-bottom: 120px;
}

.section4-heading h1 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.section4-heading p {
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;

}
.special p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
#footer{
    max-width: 1707px;
    height: 348px;
    background-color: #001931;
}
.logo-footer{
    display: flex;
}
.info-footer h3{
    font-size: 20px;
    color: #ffffff;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 10px;

}
.info-footer i{
    color: #ffffff;
}
#footer .logo-footer{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 200px;
    padding-top: 120px;
    margin-bottom: 80px;
}
.copyright p{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    color: #FAFAFA;
    line-height: 24px;
    text-align: center;
    align-items: center;
}






